.detail-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #fff;
    font-size: 16px;
}
.detail-container img{
    width: 30vw;
    height: 60vh;
}
.detail-container  .detail{
    margin: 20px;
    width: 50vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.detail-container  .detail h1{
    color: #ed6600;
    font-weight: bolder;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form .labels{
    display: flex;
    gap: 20px;
}
form .labels input[type="number"]{
    width: 40px;
}