.login-container{
    width:40vw ;
    padding-top: 20px;
    height: 90vh;
}
h1{
    font-size: 30px;
}
.login-container .head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

}
.login-container form{
    padding-bottom: 20px;
}

/*Google login*/
.g-login-container{
    margin: 20px;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}